* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  background-color: #f3f3f3;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  font-size: 18px;
  padding: 8px 15px;
}
.btn-sm {
  padding: 6px 12px;
  font-size: 16px;
}
btn-lg {
  padding: 16px 32px;
  font-size: 20px;
}
.btn-primary {
  background-color: #00a2e2;
  color: #fff;
}
.btn-secondary {
  background-color: #202527;
  color: #fff;
}
